.btn-div{
    width:100%;
}
.input_w_90{
    width: 90%;
}

div.tagsinput span.tag{
    font-size:11px;
    padding:2px;
}
.float_l{
    float:left;
}

#loading_div{
	position:fixed;
	top:5px;
	width:100px;
	left:46%;
}

/*******************content options************/
.content_options .btn-link:hover{text-decoration: none;}
.content_options .btn-link{padding:3px 0px;}