.btn-div{
    width:100%;
}
.input_w_90{
    width: 90%;
}

div.tagsinput span.tag{
    font-size:11px;
    padding:2px;
}
.float_l{
    float:left;
}

#loading_div{
	position:fixed;
	top:5px;

	left:46%;
	border-radius: 5px;
font-size: 12px;
font-weight: bold;
padding: 4px 4px;
background: #FF8000;
color: #FFF;
min-width: 60px;
text-align: center;
line-height: normal;
text-decoration: none;
z-index: 10000;
}

/*******************content options************/
.content_options .btn-link:hover{text-decoration: none;}
.content_options .btn-link{padding:3px 0px;}


#template_options_view{
	color: #393939;
}
#template_options_view label{
	text-align:right;
}