
<div class="template_row_header widget-header-small widget-header header-color-orange">
	
<div>
																
																<button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="行排序">
																	<i class="icon-sort bigger-120"></i>
																</button>
<button class="btn btn-xs btn-success add_column_to_row" data-toggle="tooltip" data-placement="top" title="添加列进当前行">
																	<i class="icon-plus-sign bigger-120"></i>
																</button>
																<button class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="删除行">
																	<i class="icon-trash bigger-120"></i>
																</button>

														</div>

</div>
<div class="template_row_body widget-body">

</div>