<div class="widget-box transparent no-border" style="height:auto;">
<div class="template_column_header widget-header-small widget-header" style="border-bottom:none;">
	
<div>
																<div>
																
																<button class="btn btn-minier btn-info" data-toggle="tooltip" data-placement="top" title="编辑列">
																	<i class="icon-edit icon-14"></i>
																</button>
<button class="btn btn-minier btn-success add_row_to_column" data-toggle="tooltip" data-placement="top" title="添加行进当前列">
																	<i class="icon-plus-sign icon-14"></i>
																</button>
																<button class="btn btn-minier btn-danger" data-toggle="tooltip" data-placement="top" title="删除列">
																	<i class="icon-trash icon-14"></i>
																</button>
<span>(<%=args.minWidth%>)</span>
															</div>
														</div>

</div>
<div class="template_column_body widget-body droppable-boxes" templatecolumnid="<%=(_.isUndefined(args.id) ? '' : args.id)%>" style="border-top:1px solid rgb(204, 204, 204);">

</div>

</div>