<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h4 class="blue bigger">创建页面模板</h4>
	</div>

	<div class="modal-body overflow-visible">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="page_template_name">模板名称 </label>

				<div class="col-sm-9">
					<input type="text" id="page_template_name" class="col-xs-10 col-sm-5" value="<%=args.name%>">
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name">模板类型 </label>
				<div class="col-sm-9">
					<select class="form-control" id="content_type_option">
						<option value="">&nbsp;</option>
						<option value="article">文章</option>
						<option value="page">页面</option>
						<option value="gallery">相册</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name">是否为手机模板 </label>

				<div class="col-sm-9">
					<label>
						<input name="form-field-radio" type="radio" class="ace">
						<span class="lbl">是 </span>
					
						<input name="form-field-radio" type="radio" class="ace">
						<span class="lbl">否</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">默认模板 </label>
				<div class="col-sm-9">
					<label>
						<input type="radio" class="ace is_primary_option" value="1">
						<span class="lbl"> 是</span>
					
						<input type="radio" class="ace is_primary_option" value="0">
						<span class="lbl">否</span>
					</label>
				</div>
			</div>
			
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-sm" data-dismiss="modal">
			<i class="icon-remove"></i>
			Cancel
		</button>

		<button class="btn btn-sm btn-primary template_save">
			<i class="icon-ok"></i>
			Save
		</button>
	</div>
</div>