<div class="page-header">
	<h1>
		编辑模板
		<small>
			<i class="icon-double-angle-right"></i><%=args.name%>
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="template_header" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页头</h4>
				<div class="widget-toolbar">
					<button id="add_to_header" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页头
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>

		<div id="template_body" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页体</h4>
				<div class="widget-toolbar">
					<button id="add_to_body" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页体
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>

		<div id="template_footer" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页脚</h4>
				<div class="widget-toolbar">
					<button id="add_to_footer" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页脚
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>

		
		<div style="text-align:center;padding-bottom:100px;">
			<button class="btn btn-success" id="save_template">
				保存
			</button>
		</div>
	</div>
</div>

<div id="wn">
<div class="tabbable tabs-below">

	<div class="tab-content" style="background-color:white;">
												<div id="content" class="tab-pane in active">
													<span class="draggable-box">内容</span>
												</div>

												<div id="blog" class="tab-pane">
													<span class="draggable-box">最近博文</span>
												</div>

												<div id="widget" class="tab-pane">
													<span class="draggable-box">天气</span>
													
												</div>
											</div>
											<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
												<li class="active">
													<a data-toggle="tab" href="#content">内容</a>
												</li>

												<li>
													<a data-toggle="tab" href="#blog">博客</a>
												</li>

												<li>
													<a data-toggle="tab" href="#widget">挂件</a>
												</li>
											</ul>

											
										</div>
</div>
