<div class="page-header">
	<h1>

		页面模板列表
		<button class="btn btn-xs btn-primary" id="add_page_template">
            <i class="icon-pencil bigger-120"></i>
            创建模板
    </button>
	</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="page_template_list">
			<div class="group" id="article_template_list">
				<h3 class="accordion-header">文章</h3>

				<div class="accordion-body" id="content1">

				</div>
			</div>
			<div class="group" id="page_template_list">
				<h3 class="accordion-header">页面</h3>

				<div class="accordion-body">
					
				</div>
			</div>
			<div class="group" id="gallery_template_list">
				<h3 class="accordion-header">相册</h3>

				<div class="accordion-body">
					
				</div>
			</div>

		</div>
	</div>
</div>