<div class="page-header">
	<h1>
		编辑模板
		<small>
			<i class="icon-double-angle-right"></i><%=args.name%>
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="template_header" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页头</h4>
				<div class="widget-toolbar">
					<button id="add_to_header" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页头
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>

		<div id="template_body" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页体</h4>
				<div class="widget-toolbar">
					<button id="add_to_body" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页体
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>

		<div id="template_footer" class="page_part widget-box no-border">
			<div class="page_part_header widget-header-large widget-header header-color-blue2">
				<h4 class="bigger lighter"><i class="icon-table"></i>页脚</h4>
				<div class="widget-toolbar">
					<button id="add_to_footer" class="btn btn-success btn-sm">
						<i class="icon-large icon-plus-sign"></i>添加行到页脚
					</button>
				</div>
			</div>
			<div class="page_part_area widget-body">
			</div>
		</div>
	</div>
</div>