<div class="modal-content">
	<div class="modal-header">
		<ul class="wizard-steps">
				<li id="step1_title" class="active">
					<span class="step">1</span>
					<span class="title">编辑行</span>
				</li>

				<li id="step2_title">
					<span class="step">2</span>
					<span class="title">编辑列</span>
				</li>
		</ul>
	</div>

	<div class="modal-body overflow-visible">
		<div id="step_container" class="step-content">
			<div class="step-pane active" id="step1">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="page_template_name">这一行分成几列 </label>

						<div class="col-sm-9">
							<input type="text" id="template_columns_num" class="col-xs-10 col-sm-5" value="">
						</div>
					</div>
			
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="image_name">这行的最大宽度 </label>
						<div class="col-sm-9">
							<input type="text" id="page_template_name" class="col-xs-10 col-sm-5" value="<%=args.name%>">
						</div>
					</div>
				</div>
			</div>
			<div class="step-pane" id="step2"></div>

		</div>
		

	</div>

	<div class="modal-footer">
		<div class="row-fluid wizard-actions">
			<button class="btn btn-prev btn-sm" disabled="disabled">
				<i class="icon-arrow-left"></i>
				上一步
			</button>

			<button class="btn btn-success btn-next btn-sm">
				下一步
				<i class="icon-arrow-right icon-on-right"></i>
			</button>

			<button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
													<i class="icon-remove"></i>
													取消
												</button>

		</div>
		<!--
		<button class="btn btn-sm" data-dismiss="modal">
			<i class="icon-remove"></i>
			上一步
		</button>

		<button class="btn btn-sm btn-primary template_save">
			<i class="icon-ok"></i>
			下一步
		</button>
	-->
	</div>
</div>