<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="page_template_name">最小宽度 </label>

				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5 min_width_option" value="">
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name"> 网站客户能修改</label>
				<div class="col-sm-9">
					<label>
						<input name="form-field-radio" type="radio" class="ace can_modify_option">
						<span class="lbl">是 </span>
					
						<input name="form-field-radio" type="radio" class="ace can_modify_option">
						<span class="lbl">否</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name"> Css代码：</label>
				<div class="col-sm-9">
					<textarea class="css_code_option"></textarea>
				</div>
			</div>
		</div>