<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="page_template_name">最小宽度 </label>

				<div class="col-sm-9">
					<input type="text" id="page_template_name" class="col-xs-10 col-sm-5" value="<%=args.name%>">
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name"> 网站客户能修改</label>
				<div class="col-sm-9">
					<input type="text" id="page_template_name" class="col-xs-10 col-sm-5" value="<%=args.name%>">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name"> 自定义样式前缀</label>
				<div class="col-sm-9">
					
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="image_name"> Css代码：</label>
				<div class="col-sm-9">
					<textarea></textarea>
				</div>
			</div>
		</div>