<div class="span8">
    <h3 class="header smaller lighter blue">
        修改配置
    </h3>
    <div class="row-fluid">
    	<div class="span12">
    		<form class="form-horizontal">
    			<div class="control-group">
					<label class="control-label">标识符</label>

					<div class="controls">
						<input type="text" id="website" value="<%=args.website%>">
					</div>
				</div>
    			<div class="control-group">
					<label class="control-label">网站名称</label>

					<div class="controls">
						<input type="text" id="title" value="<%=args.title%>">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">URL</label>

					<div class="controls">
						<input type="text" id="url" value="<%=args.url%>">
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-primary submit" type="button">
						<i class="icon-ok bigger-110"></i>
						提交
					</button>
				</div>

    		</form>
    	</div>
    </div>
</div>
<div class="span4">
	<h3 class="header smaller lighter blue">
        其它选项
    </h3>
</div>