<div class="row-fluid">
	<label class="span7">模板</label>
	<span class="span5">
		<select class="templates-select" style="width:200px;" data-placeholder="选择一个模板...">
			<option value=""></option>
	        <option>American Black Bear</option>
	        <option>Asiatic Black Bear</option>
	        <option>Brown Bear</option>
	        <option>Giant Panda</option>
	        <option>Sloth Bear</option>
	        <option>Sun Bear</option>
	        <option>Polar Bear</option>
	        <option>Spectacled Bear</option>							
		</select>
	</span>
	
</div>