<td class="center  sorting_1">
    <label>
        <input type="checkbox">
        <span class="lbl"></span>
    </label>
</td>
<td class=" ">
    <a href="#"><%=args.title%></a>
</td>
<td class=" ">$45</td>
<td class="hidden-phone ">Feb 12</td>

<td class="hidden-480 ">
    <span class="label label-warning">Expiring</span>
</td>

<td class="td-actions ">
    <div class="hidden-phone visible-desktop btn-group">
        <button class="btn btn-mini btn-success">
            <i class="icon-ok bigger-120"></i>
        </button>

        <a href="#/content/page/edit/<%=args.id%>" class="btn btn-mini btn-info" data-toggle="tooltip" data-placement="top" title="编辑">
            <i class="icon-edit bigger-120"></i>
        </a>

        <button class="btn btn-mini btn-danger delete" data-toggle="tooltip" data-placement="top" title="删除">
            <i class="icon-trash bigger-120"></i>
        </button>

        <button class="btn btn-mini btn-warning">
            <i class="icon-flag bigger-120"></i>
        </button>
    </div>

    <div class="hidden-desktop visible-phone">
        <div class="inline position-relative">
            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                <i class="icon-caret-down icon-only bigger-120"></i>
            </button>

            <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                <li>
                    <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-placement="left" data-original-title="Edit">
                        <span class="green">
                            <i class="icon-edit"></i>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-warning" data-rel="tooltip" title="" data-placement="left" data-original-title="Flag">
                        <span class="blue">
                            <i class="icon-flag"></i>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-placement="left" data-original-title="Delete">
                        <span class="red">
                            <i class="icon-trash"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</td>