



<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h4 class="blue bigger">区块设置</h4>
	</div>

	<div class="modal-body overflow-visible">
		<div class="form-horizontal">
			<%=args.boxType.formStr%>
			
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-sm" data-dismiss="modal">
			<i class="icon-remove"></i>
			取消
		</button>

		<button class="btn btn-sm btn-primary template_save">
			<i class="icon-ok"></i>
			保存
		</button>
	</div>
</div>