<div class="widget-box">
											<div class="widget-header widget-header-small header-color-dark">
												<h6 class="smaller"><%=args.chineseLabel%></h6>
												<div class="widget-toolbar">
													<a href="#" data-action="settings">
														<i class="icon-cog"></i>
													</a>

													<a href="#" data-action="close">
														<i class="icon-remove"></i>
													</a>
												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													这是一个区块
												</div>
											</div>
										</div>