<div class="row">

<div class="col-xs-9">
    <div class="page-header">
        <h1>
            文章列表
            <a href="#content/article/add" class="btn btn-xs btn-primary">
                <i class="icon-edit bigger-120"></i>
                创建文章
            </a>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
        <!-- 文章列表开始 -->
            <div id="article_list_div">


            </div>
        <!-- 文章列表结束 -->
        </div>
    </div>
</div>



<div class="col-xs-3">
    <div class="page-header">
        <h1>选项</h1>
    </div>
    <div class="row">
<div class="col-xs-12">

        <div class="form-group">
            <label>标题</label>
            <input type="text" id="form-field-1" placeholder="请输入关键词">
        </div>
</div>
    </div>
</div>

</div>

