<div class="row">

<div class="col-xs-9">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-4">
                    <h1>
                        创建文章
                    </h1>
            </div>
            <div class="col-xs-8">
                <div id="template_options_view">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
        <div class="form-group">
        <div id="dropzone" class="article_image_dropzone" style="float:left;">
            <div class="dropzone dz-clickable">
               <div class="fallback">
                  <input id="gallery_images" type="file" multiple=""/>
               </div>
    
            </div>
        </div>
        <div style="float:left;" id="article_image_path">
            <%
                if(args.path){
            %>
            <img src="http://cms.com/<%=args.path%>" style="height:60px;width:80px;" />
            <%
                }
            %>


        </div>
        <div style="clear:both;"></div>
        </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
            标题&nbsp;<i class="icon-asterisk icon-red"></i>
            <input type="text" id="content_title" class="input_w_90" value="<%=args.title%>" placeholder="请在此输入标题">
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
            <div class="input-group">
  <span class="input-group-addon"><i class="icon-calendar"></i></span>
  <input class="input_w_70" type="text" name="date-range-picker" value="<%=args.start_date%> - <%=args.end_date%>" id="content_date">
  <!-- <span class="input-group-addon"></span> -->
</div>


<!-- <span class="help-button ace-popover" data-trigger="hover" data-placement="top" data-content="这篇文章会自动在开始日期发布，并在结束日期" title="" data-original-title="小贴士">?</span> -->

            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
            <p>正文&nbsp;<i class="icon-asterisk icon-red"></i></p>
            <textarea name="content_body" style="height: 300px;">
                            <%=args.body%>
            </textarea>
            </div>
        </div>
    </div>
</div>



<div class="col-xs-3">
    

    <div class="widget-box no-border">
        <div class="widget-body-inner">
            <div class="widget-main padding-6">
                <div class="alert alert-block alert-success">
                    <div><button class="btn btn-primary btn-div publish">发布</button></div>
                    <div><button class="btn btn-info btn-div preview">预览</button></div>
                    <div><button class="btn btn-success btn-div save">保存草稿</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-box transparent content_options">
        <div class="widget-header">
            <h4 class="lighter">其它选项</h4>
        </div>

        <div class="widget-body">
            <div class="widget-body-inner">
                <div class="widget-main padding-6">
                    <div class="tag_label">
                        <button data-toggle="collapse" data-target="#tagsdiv" class="btn btn-link">
                            <i class="<%=_.isUndefined(args.tags) ? 'icon-edit' : 'icon-check' %>"></i>标签
                        </button>    
                    </div>
                    <div id="tagsdiv" class="collapse">
                        <input class="tags" value=""/>
                    </div>
                    <div>
                        <button type="button" class="btn btn-link media_library"><i class="icon-check"></i>多媒体</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

