<div class="cx-item-content ace-thumbnails">
                        
    <div class="cx-contents">
        <div class="cx-tools" style="visibility:hidden;">
        <div class="btn-group">
        <button class="btn btn-xs btn-success">
            <i class="icon-ok bigger-120"></i>
        </button>

        <a href="#/content/article/edit/<%=args.id%>" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="编辑">
            <i class="icon-edit bigger-120"></i>
        </a>

        <button class="btn btn-xs btn-danger delete" data-toggle="tooltip" data-placement="top" title="删除">
            <i class="icon-trash bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-warning">
            <i class="icon-flag bigger-120"></i>
        </button>
    </div>
    </div>  
        <div class="cx-photo" style="background-image: url(http://cms.com/<%=args.path%>)"></div>
        <div class="cx-key">
            Jun 28, 2012                                    
        </div>
    </div>  
                
    <div class="cx-titles">
        <a href="#"><%=args.title%></a>
    </div>     

                                    
</div>

