

<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">×</button>
												<h4 class="blue bigger">修改图片</h4>
											</div>

											<div class="modal-body overflow-visible">
												<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="image_name">图片名称 </label>

		<div class="col-sm-9">
			<input type="text" id="image_name" class="col-xs-10 col-sm-5" value="<%=args.name%>">
		</div>
	</div>
</div>
											</div>

											<div class="modal-footer">
												<button class="btn btn-sm" data-dismiss="modal">
													<i class="icon-remove"></i>
													取消
												</button>

												<button class="btn btn-sm btn-primary image_save">
													<i class="icon-ok"></i>
													保存
												</button>
											</div>
										</div>