
<div class="row">
<div class="col-xs-9">
    <div class="page-header">
    <h1>
        图片列表
        <a href="#content/gallery/<%=gallery.id%>/image/add" class="btn btn-xs btn-primary">
                <i class="icon-edit bigger-120"></i>
                上传图片
        </a>
    </h1>
    
</div>

<div class="row">
    <div class="col-xs-12">
        <ul id="gallery_image_list" class="ace-thumbnails">

            </ul>
    </div>
</div>
</div>
<div class="col-xs-3">
    <div class="page-header">
    <h1>
        选项
        
    </h1>
</div>
</div>

</div>