<div class="col-xs-12">
    <div class="page-header">
        <h1>
            上传图片
            到相册<a href="#content/gallery/<%=args.id%>/image"><%=args.title%></a>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
        <div id="dropzone">
            <div class="dropzone dz-clickable">
	           <div class="fallback">
		          <input id="gallery_images" type="file" multiple=""/>
	           </div>
	
            </div>
        </div>
        </div>
    </div>
</div>           