<div class="gallery_bg"></div>
<div class="gallery_wrap">
    <div class="gallery_inner">
        <p class="gallery_image">
            <a href="#content/gallery/<%=args.id%>/image" class="gallery_image_a">
                <img src="/app/img/no_image.gif">
            </a>
        </p>
    </div>
    <div class="gallery_foot">
        <div><a href=""><%=args.title%></a></div>
        <div>133张</div>
        <div>
            <a href="#content/gallery/edit/<%=args.id%>" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="编辑">
                <i class="icon-edit bigger-120"></i>
            </a>

            <button class="btn btn-xs btn-danger delete" data-toggle="tooltip" data-placement="top" title="删除">
                <i class="icon-trash bigger-120"></i>
            </button>

        </div>
    </div>
</div>
