

<div class="span9">
    <h3 class="header smaller lighter blue">
        上传图片
        到相册<a href="#content/gallery/<%=args.id%>/image"><%=args.title%></a>
    </h3>

    <div class="row-fluid">
        <div id="dropzone">
<div class="dropzone dz-clickable">
	<div class="fallback">
		<input id="gallery_images" type="file" multiple=""/>
	</div>
	
</div>
</div>
    </div>
</div>   

<div class="span3">
    <h3 class="header smaller lighter blue">
        选项
        
    </h3>

</div>              