<div class="span9">
    <div class="row-fluid header blue">
        <div class="span6">
            <h3 class="smaller lighter">
            创建相册
            </h3>
        </div>
        <div class="span6">
            <div id="template_options_view">

            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div>标题&nbsp;<span class="label label-important arrowed-right">必填</span></div>
            <input type="text" id="content_title" class="input_w_90" value="<%=args.title%>" placeholder="请在此输入标题">
        </div>
        <div class="span6">
            <div>时间&nbsp;<span class="label label-important arrowed-right">必填</span></div>
            <div class="control-group">
                <div class="input-prepend datetimepicker">
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>

                    <input class="span11" type="text" value="<%=args.created_date%>" data-format="dd/MM/yyyy hh:mm:ss" id="content_date">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div>描述&nbsp;<span class="label label-important arrowed-right">必填</span></div>
            <textarea name="content_body" style="height: 300px;">
                            <%=args.description%>
            </textarea>
        </div>
    </div>
</div><!--/.span9-->

<div class="span3">
    <div class="widget-box no-border">
        <div class="widget-body-inner">
            <div class="widget-main padding-6">
                <div class="alert alert-block alert-success">
                    <div><button class="btn btn-primary btn-div publish">发布</button></div>
                    <div><button class="btn btn-info btn-div preview">预览</button></div>
                    <div><button class="btn btn-success btn-div save">保存草稿</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-box transparent content_options">
        <div class="widget-header">
            <h4 class="lighter">其它选项</h4>
        </div>

        <div class="widget-body">
            <div class="widget-body-inner">
                <div class="widget-main padding-6">
                    <div>
                        <button type="button" class="btn btn-link media_library"><i class="icon-check"></i>图片列表</button>
                    </div>
                    <div class="tag_label">
                        <button data-toggle="collapse" data-target="#tagsdiv" class="btn btn-link">
                            <i class="<%=_.isUndefined(args.tags) ? 'icon-edit' : 'icon-check' %>"></i>标签
                        </button>    
                    </div>
                    <div id="tagsdiv" class="collapse">
                        <input class="tags" value=""/>
                    </div>
                    <div>
                        <button type="button" class="btn btn-link media_library"><i class="icon-check"></i>多媒体</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.span3-->